<div class="container">
  <div class="mt-5 mb-5">
    <h3>Page Test package <strong>ng-cryptostore</strong></h3>
  </div>
  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
        type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">LocalStore</button>
    </div>
    <div class="tab-content w-100" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <app-storage></app-storage>
      </div>
    </div>
  </div>

</div>
